body {
  padding-left: 50px;
}
div {
  width: 500px;
}
h2 {
  display: inline-block;
  background-color: chocolate;
}
label {
  display: block;
}
.form-css {
  display: block;
  align-item: center;
  justify-content: center;
  color: inherit;
  background-color: green;
  font-size: 20px;
  font-weight: 600;
}

.label-css {
  color: inherit;
  background-color: yellow;
  font-size: 20px;
  font-weight: 300;
  border-radius: 5px;
}
.btn {
  background-color: yellow;
  border: 1px solid blue;
  margin: 5px;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 600;
}

/* Повзунки */
.label-povzunki {
  display: flex;
  align-items: center;
}
/* Повзунки */

/* Дата та час */
.input-time-and-date {
  padding: 8px;
  font-family: inherit;
}
.label-time-and-date {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
/* Дата та час */

/* Елемент "textarea" */
.input-ta,
.textarea-ta {
  padding: 8px;
  font-family: inherit;
  font-size: inherit;
}

.label-ta {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.textarea-ta {
  resize: none;
}
/* Елемент "textarea" */

/* Групування з можливістю оформлення */
.form-group {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

.form-group p {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
}
/* Групування з можливістю оформлення */
