/* Модуль 5 - Урок 9 - Позиційовані елементи */
/*  -- TRANSFORMATION --  */

.wrapper {
  width: 1000px;
  margin: 0 auto;
  outline: 1px solid tomato;
  /* font-size: 30px; */
}
.container {
  margin: 0 auto;
  outline: 1px solid teal;
  padding-left: 15px;
  padding-right: 15px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 140px;
  color: azure;
}

.translate {
  background-color: red;
  /* transform: translate(100px, 100px); */
  /* transform: translate - перше значення - перемыщення по осі Х, друге - Y. може мати мінусове значення. може задаватись в відсотках. Може використовуватись в позиціонуванні для привязки елементів*/
  /* щоб поставити елемент рівно по центру блока потрібно в .container прописати значення  position: relative, а в .translate прописати position: absolute, top: 50%; left: 50% а в transform: translate(-50%, -50%)  */
}

/*  */
/*  */
/*  */

.rotate {
  background-color: green;
  /* transform: rotate(45deg); */
  /* rotate - обертання відбувається відносно осі Z */
  /* rotateX - обертання відбувається відносно осі X */
  /* rotateY - обертання відбувається відносно осі Y */
  /* усі властивості які задаються на цей елемент обертаються разом з ним (марджин і тд) */
  /* transform-origin: top left; */
  /* transform-origin - задає точку відносно якої елемент буде крутитись при використанні rotate*/
  /* transition-property: transform;
  transition-duration: 500ms;
  transition-delay: 200ms;
  transition-timing-function: linear; */
  /* transition-timing-function: ease-in-out; */
  /* transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1); */
  /* https://cubic-bezier.com */
  transition: transform 500ms 200ms ease-in-out, background-color 500ms 200ms ease-in-out;
  /* плавна зміна кольору при ховері */
}
/* якщо часто повторюються значення "500ms 200ms ease-in-out" то їх можна заганяти в змінні */
/* !!! ПЛАВНИЙ ПЕРЕХІД ЗАДАЄТЬСЯ НА ЕЛЕМЕНТ, А НЕ НА ХОВЕР !!! */

/* .rotate span {
  transform: rotate(-45deg);
} */

/* повертає елемент в одну сторону, а текст в іншу. таким чином текст ніби не повертається */

.rotate span {
  transition-property: transform;
  transition-duration: 500ms;
  transition-delay: 200ms;
  transition-timing-function: ease-in-out;
  /* можна усі ці властивості прописати в один рядок */
  /* transition: transform 500ms 200ms ease-in-out; */
  /*  */
}
/*  */

/* залишає напрямок тексту. змінює лише поворот єлементу */
.rotate:hover span {
  transform: rotate(-45deg);
}
.rotate:hover {
  transform: rotate(45deg);
  background-color: deeppink;
}

/*  */
/*  */
/*  */

.scale {
  background-color: blue;
  transform: scale(1.14);
  /* збільшує, або зменшує розмір елементу і контент який в ньому. задається в % або числових значеннях. може мати мінусове значення*/
}
.scale:hover {
  transform: scale(1.5);
  background-color: aquamarine;
}

/*  */
/*  */
/*  */

.skew {
  background-color: gray;
  transform: skew(15deg, 40deg);
  /* задає нахил елементу */
  /* можна задавати або одне значення X, або разом з Y через кому (40deg, 40deg) */
}
/* значення в transform: можна комбінувати. записується через пробіл, напр: */
/* transform: rotate(-45deg) scale(1.14) skew(15deg, 40deg) */
